body{
  /*background-color: #000000;*/
  font-family: sans-serif;
}

.jumbotron{
  background-size: cover;
  position: center;
}

.name{
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  font-size:30px;
  padding: 10px;
}
.bottom-panel li{
  display: inline-block;
  border: 1px;
}
