.jumbotron {
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.jumbotron img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* Intoduction Section */
.introduction-section {
  margin: 0;
  padding: 2em;
  background: rgb(241, 241, 241);
  text-align: center;
}

#myName {
  font-weight: bold;
  font-size: 18px;
}

.title {
  text-decoration: underline;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
}

.introduction-section ul li{
  list-style: none;
  padding: 1px;
}

.intro-section-3 {
  border-left: 0.5px solid rgb(163, 163, 163, 0.5);
}
/* End of Intoduction Section */


/* Skills Section */
.skill-section {
  margin: 0;
  padding: 2em;
  text-align: center;
}

.box .chart{
  position: relative;
  margin: 2em auto;
  padding-top: 1em;
  text-align: center;
  font-size: 30px;
  line-height: 110px;
  width: 190px;
  height: 100px;
}
.box canvas{
  position: absolute;
  top: 0;
  left: 0;
}
/* End of Section */
